/* ////// */
/* Fonts */
/* ///// */
@font-face {
  font-family: 'BebasNeue';
  src: url('fonts/BebasNeue-Regular.ttf');

  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'LibreBaskerville';
  src: url('fonts/Libre_Baskerville/LibreBaskerville-Regular.ttf');

  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Roboto-Regular';
  src: url('fonts/Roboto-Regular.ttf');
}

/* General Settings */
html,
body {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3 {
  font-family: BebasNeue;
}

p {
  /* font-family: LibreBaskerville;
  font-weight: lighter; */
  font-family: Roboto-Regular;
}

/* Splash Screen */

.intro {
  position: fixed;
  z-index: 30;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-color: #161616;
  transition: 1s;
}

.logo-header {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
}

.logo {
  position: relative;
  display: inline-block;
  bottom: -20px;
  opacity: 0;
  font-size: 6rem;
}

.logo.active {
  bottom: 0;
  opacity: 1;
  transition: ease-in-out 0.5s;
}

.logo.fade {
  bottom: 150px;
  opacity: 0;
  transition: ease-in-out 0.5s;
}

/* Navbar */

.navbar-section {
  padding-left: 10px;
  padding-right: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  transition: 0.5s;
  /* background-color: rgba(0, 0, 0, 0.2); */
}

.navbar-ul {
  margin-top: 0;
  display: flex;
  justify-content: end;
  align-items: baseline;
  list-style-type: none;
  margin-right: 15%;
  padding: 0;
}

.navbar-ul li {
  padding-left: 4em;
  padding-top: 15px;
  width: fit-content;
}

.navbar-ul li a {
  display: inline-block;
  font-family: BebasNeue;
  font-weight: lighter;
  text-decoration: none;
  letter-spacing: 2px;
  color: white;
  font-size: 1.25em;

  margin-top: 10px;
  padding-top: 10px;
}

#about-hr {
  display: none;
}

.side-links p {
  font-size: 2rem;
  font-family: BebasNeue;
  padding: 0;
}
.side-links span {
  font-size: 2rem;
  font-family: BebasNeue;
  padding: 0;
}

.side-nav {
  font-family: BebasNeue;
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 20;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  padding-top: 60px;
  transition: 0.5s;
}

.side-nav a {
  padding: 10px 10px 10px 30px;
  text-decoration: none;
  font-size: 22px;
  color: #ccc;
  display: block;
  transition: 0.3s;
}

.side-nav a:hover {
  /* color: #fff; */
}

.side-nav .btn-close {
  position: absolute;
  top: 0;
  right: 22px;
  font-size: 36px;
  margin-left: 50px;
}

.titleContainer {
  width: fit-content;

  /* position: relative; */
}
.navbar-ul li a::before {
  content: '';
  /* position: absolute; */
  display: block;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  background-color: white;
  transform-origin: bottom left;
  transition: transform 0.25s ease-out;
  color: grey;
  cursor: pointer;
  opacity: 0.8;
  margin-bottom: 1px;
  /* padding-bottom: 1px; */
}
.navbar-ul li a:hover::before {
  transform: scaleX(1);
  transform-origin: bottom right;
  border: none;
}
.navbar-ul li a::after {
  content: '';
  /* position: absolute; */
  display: block;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  background-color: white;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
  color: grey;
  cursor: pointer;
  opacity: 0.8;
  margin-bottom: 1px;
  padding: 0;
}
.navbar-ul li a:hover::after {
  transform: scaleX(1);
  transform-origin: top left;
  border: none;
}
.side-nav a::before {
  content: '';
  /* position: absolute; */
  display: block;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  background-color: white;
  transform-origin: bottom left;
  transition: transform 0.25s ease-out;
  color: grey;
  cursor: pointer;
  /* opacity: 0.8; */
  margin-bottom: 1px;
  /* padding-bottom: 1px; */
}
.side-nav a:hover::before {
  transform: scaleX(1);
  transform-origin: bottom right;
  border: none;
}
.side-nav a::after {
  content: '';
  /* position: absolute; */
  display: block;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  background-color: white;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
  /* color: grey; */
  cursor: pointer;
  /* opacity: 0.8; */
  margin-bottom: 1px;
  padding: 0;
}
.side-nav a:hover::after {
  transform: scaleX(1);
  transform-origin: top left;
  border: none;
}

.side-links {
  height: fit-content;
  width: fit-content;
}
.navbar-ul li a:hover {
  opacity: 0.8;
}

.gradient {
  width: 100%;
  height: 100%;
  background-image: linear-gradient(rgba(0, 0, 0, 1), rgba(0, 0, 0, 1));
}
.navbar-ul li:nth-child(1) {
}

.navbar-section h1 {
  margin-left: 10%;
  color: white;
}

/* Creating the Hamburger Menu */

.hamburger {
  background-color: transparent;
  border: 0;
  color: white;
  font-size: 20px;
  cursor: pointer;
  display: none;
}

.hamburger:focus {
  outline: none;
}

/* Hero Section */

.hero {
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url('imgs/platter.jpg');
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}

.hero .title-section h1 {
  color: white;
  /* border-top: solid 2px white;
  border-bottom: solid 2px white; */
  font-size: 6rem;
  /* animation: titleAnimation 0.5s; */
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}
/* 
.hero .title-section h1::after {
  content: '';
  display: block;
  width: 100%;
  transform: scaleX(1);
  height: 2px;
  background-color: white;
  transform-origin: bottom left; 
   transition: transform 0.25s ease-out;
  animation: titleAnimation 0.25s ease-out;
  color: grey;
  cursor: pointer;
  opacity: 0.8;
  margin-bottom: 1px;
  padding-bottom: 1px;
}

@keyframes titleAnimation {
  from {
    transform: scaleX(0);
    transform-origin: bottom left;
  }

  to {
    transform: scaleX(1);
    transform-origin: bottom right;
    border: none;
  }
} */

/* .navbar-ul li a::before {
  content: '';
  position: absolute;
  display: block;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  background-color: white;
  transform-origin: bottom left;
  transition: transform 0.25s ease-out;
  color: grey;
  cursor: pointer;
  opacity: 0.8;
  margin-bottom: 1px;
  padding-bottom: 1px;
}
.navbar-ul li a:hover::before {
  transform: scaleX(1);
  transform-origin: bottom right;
  border: none;
} */

@keyframes borderAnimation {
  from {
    padding-top: 0;
    padding-bottom: 0;
  }
  to {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
  }
}

.title-section {
  width: 100%;
  height: 80%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 0;
}

.title {
  letter-spacing: 10px;
}

.title h1 {
  font-size: 4rem;
}

/* Cuisine Section */

.cuisine-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.cuisine-section h2 {
  font-size: 3.2rem;

  font-weight: lighter;
}

.cuisine {
  display: flex;
  justify-content: center;
}

.meal {
  overflow: hidden;
  margin: 2rem;
}

.mealImage {
  transition: all 1s;
  transform: scale(1);
  background: black;
}

.mealImage:hover {
  /* transform: scale(1.1);
  /* transform: translateY(-400px); */
  /* opacity: 0.5;
  background-image: url();  */
}

#mealOne {
  height: 40vh;
  width: 25vw;
}
#mealTwo {
  height: 40vh;
  width: 25vw;
}
#mealThree {
  height: 40vh;
  width: 25vw;
}

.background {
  height: 100%;
  width: 100%;
}

.newDiv {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#imageContainer-mealOne {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  opacity: 1;
  font-size: 4rem;
}

#imageContainer-mealOne::after {
  content: '';
  background-image: url('imgs/pasta.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  opacity: 1;
}

#imageContainer-mealOne:hover::after {
  opacity: 0.4;
  cursor: pointer;
}
#imageContainer-mealTwo {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  opacity: 1;
}

#imageContainer-mealTwo::after {
  content: '';
  background-image: url('imgs/mealTwo.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  opacity: 1;
}

#imageContainer-mealTwo:hover::after {
  opacity: 0.4;
  cursor: pointer;
}
#imageContainer-mealThree {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  opacity: 1;
}

#imageContainer-mealThree::after {
  content: '';
  background-image: url('imgs/lasagna.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  opacity: 1;
}

#imageContainer-mealThree:hover::after {
  opacity: 0.4;
  cursor: pointer;
}

#cuisineTitleOne {
  position: relative;
  z-index: 1;
  color: #ffffff;
  font-size: 3rem;
  line-height: 0.9;
  text-align: center;
  cursor: pointer;
}
#cuisineTitleTwo {
  position: relative;
  z-index: 1;
  color: #ffffff;
  font-size: 3rem;
  line-height: 0.9;
  text-align: center;
  cursor: pointer;
}
#cuisineTitleThree {
  position: relative;
  z-index: 1;
  color: #ffffff;
  font-size: 3rem;
  line-height: 0.9;
  text-align: center;
  cursor: pointer;
}

.imageContainer-mealOne {
  display: none;
}
.imageContainer-mealTwo {
  display: none;
}
.imageContainer-mealThree {
  display: none;
}

.cuisine-text-appear {
  display: inline;
  color: white;
  font-family: BebasNeue;
  font-size: 2rem;
}

.addBlur {
  transition: 0.2s;
  filter: blur(2px);
}

/* @keyframes tint {
  from {
    background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)),
      url('imgs/mealThree.jpg');
  }

  to {
    background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
      url('imgs/mealThree.jpg');
  }
} */

/* .navbar-fade-down {
  animation: fadeDown 0.2s;
}

@keyframes fadeDown {
  from {
    opacity: 0;
    transform: translateY(0);
  }

  to {
    opacity: 1;
    transform: translateY(0.5rem);
  }
}



/* Description Section */

.info-title {
  margin-top: 0;
}

.description {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.description h2 {
  font-size: 3rem;
  margin-bottom: 1rem;

  font-weight: lighter;
}

.desc-text {
  width: 80%;
}

.desc-text p {
  text-align: center;
  line-height: 2rem;
  color: black;
}
/* .break {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 2rem;
  width: 100%;
}
.line {
  height: 2px;
  width: 60%;
  color: black;
  background-color: rgba(0, 0, 0, 0.6);
} */

/* ///////////// */
/* Grid Section */
/* ///////////// */
.restaurant-info-section {
  display: grid;
  grid-template-columns: repeat(2fr);
  grid-template-rows: repeat(3fr);
}

.menu-image-container {
  grid-column: 1/2;
  overflow: hidden;
  height: 100vh;
}

#menu-image {
  height: 100%;
}

.history-image-container {
  grid-column: 1/2;
  overflow: hidden;
  height: 100vh;
}

#history-image {
  height: 100%;
}

.chef-image-container {
  grid-column: 2/2;
  grid-row: 2/3;
  overflow: hidden;
  height: 100vh;
}

#chef-image {
  height: 100%;
}

.restaurant-history {
  grid-column: 2/2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #ebe9e6;
  color: black;
  height: 100vh;
  font-size: 1.2rem;
}

.restaurant-history h3 {
  font-size: 4rem;
  margin-bottom: 0;
}
.restaurant-chef {
  grid-column: 1/2;
  grid-row: 2/3;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #ebe9e6;
  color: black;
  font-size: 1.2rem;
  height: 100vh;
}

.restaurant-chef h3 {
  font-size: 4rem;
  margin-bottom: 0;
}

.restaurant-menu {
  grid-column: 2/2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #ebe9e6;
  color: black;
  font-size: 1.2rem;
  height: 100vh;
}

.restaurant-menu h3 {
  font-size: 4rem;
  margin-bottom: 0;
}

.restaurant-info-contents {
  width: 80%;
}

.text-fade-in {
  animation: fadeIn 3s;
}

.navbar-fade-down {
  animation: fadeDown 0.2s;
}

@keyframes fadeDown {
  from {
    opacity: 0;
    transform: translateY(0);
  }

  to {
    opacity: 1;
    transform: translateY(0.5rem);
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(2rem);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.hidden {
  opacity: 0;
  transform: translateY(2rem);
}

.hideText {
  opacity: 0;
}

.readmoreBtn {
  border: none;
  padding: 0.5rem;
  cursor: pointer;
  /* background-color: transparent; */
  color: black;
  border: 2px solid black;
  width: 10rem;
  transition: 0.4s;
}

.readmoreBtn:hover {
  background-color: black;
  color: white;
}
.readmoreBtnCard {
  border: none;
  padding: 0.5rem;
  cursor: pointer;
  background-color: transparent;
  color: white;
  border: 2px solid white;
  width: 10rem;
  transition: 0.4s;
}

.readmoreBtnCard:hover {
  background-color: white;
  color: black;
}

/* ///////////////// */
/* Grid Card Section */
/* ///////////////// */
.events-card-underline {
  margin-top: 0.4rem;
}
.card-contents {
  margin-left: 1.5rem;
  margin-top: 4rem;
}

.events-card-section {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 2fr);
  grid-auto-rows: minmax(100px, 100px);
  background-color: black;
}

.events-card-one {
  height: 50vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url('imgs/cardOne.jpg');
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.events-card-two {
  height: 50vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url('imgs/cardTwo.jpg');
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
.events-card-three {
  height: 50vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url('imgs/cardThree.jpg');
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
.events-card-four {
  height: 50vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url('imgs/cardFour.jpg');
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
.events-card-five {
  height: 50vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url('imgs/cardFive.jpg');
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
.events-card-six {
  height: 50vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url('imgs/cardSix.jpg');
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.card {
  color: white;
}

.card h2,
.card h3 {
  line-height: 1rem;
  letter-spacing: 0.4rem;
  margin-bottom: 0;
}

.footer {
  display: block;
  background-color: rgba(0, 0, 0, 0.9);
  padding: 0.5rem;
  color: white;
  text-align: center;
}
.footer-section p {
  font-family: Roboto-Regular;
}
.footer-section h3 {
  font-family: BebasNeue;
  font-size: 0.5rem;
}

.footer hr {
  opacity: 0.5;
  width: 70%;
}

.footer-container {
  display: flex;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.9);
}

.footer-grid {
  display: grid;
  grid-template-columns: repeat(4, 4fr);
  padding: 2rem;
  padding-top: 1rem;
  font-family: Roboto-Regular;
  color: white;
  background-color: transparent;
  width: 70%;
}

.footer-grid ul {
  list-style: none;
  font-family: Roboto-Regular;
  margin: 0;
  padding-left: 0;
}
.footer-grid .about p {
  font-family: Roboto-Regular;
}

.footer-grid ul li {
  margin-bottom: 0.6rem;
}
.footer-grid h3 {
  font-size: 1.3rem;
  margin-bottom: 1.5rem;
  font-family: BebasNeue;
  color: grey;
}

.quicklinks-contents {
  display: flex;
  justify-content: end;
}
.about {
  grid-column: 1/2;
  display: flex;
  flex-direction: column;
  justify-content: start;
}

.contact {
  grid-column-start: 2/3;
  display: flex;
  justify-content: center;
}

.helpAndFaqs {
  display: flex;
  justify-content: center;
}
.quicklinks {
  grid-column-start: 3/4;
}

.events-card-underline {
  width: 90%;
  color: rgba(255, 255, 255, 0.3);
  background-color: rgba(255, 255, 255, 0.3);
  height: 2px;
}

/* Move this footer stuff to the bottom */
.footer-grid .about p {
  width: 50%;
}

.footer-grid ul li {
  text-align: start;
}

.footer-grid .about h3 {
  text-align: start;
}
.footer-grid .quicklinks h3 {
  text-align: start;
}

.chef-image-container {
  z-index: 10;
}
.restaurant-image-container {
  z-index: 10;
}
.menu-image-container {
  z-index: 10;
}

/* /////////////////////// */
/* Different Screen Sizes */
/* /////////////////////// */

@media (max-width: 1816px) {
  #mealOne {
    width: 40vw;
  }
  #mealTwo {
    width: 40vw;
  }
  #mealThree {
    display: none;
  }
}

@media screen and (max-width: 1440px) {
}

@media (max-width: 1252px) {
  /* ///////////// */
  /* Grid Section */
  /* ///////////// */

  .restaurant-info-images {
    display: none;
    opacity: 0;
  }
  .restaurant-info-section {
    display: flex;
    flex-direction: column;
  }

  .history-image-container {
    height: 90vh;
    width: 100%;
    background-image: url('imgs/grid-history.jpg');

    background-repeat: no-repeat;
    background-size: cover;
  }

  .restaurant-history {
    height: 50vh;
  }

  .chef-image-container {
    height: 90vh;
    width: 100%;
    background-image: url('imgs/grid-chef.jpg');
    background-repeat: no-repeat;
    background-size: cover;
  }

  .restaurant-chef {
    height: 50vh;
  }
  .menu-image-container {
    height: 90vh;
    width: 100%;

    background-image: url('imgs/grid-food.jpg');
    background-repeat: no-repeat;
    background-size: cover;
  }

  .restaurant-menu {
    height: 50vh;
  }

  /* ///////////// */
  /* Card Section */
  /* ///////////// */
  .events-card-section {
    display: flex;
    flex-direction: column;
  }

  .card {
    height: 100vh;
  }

  .events-card-section h3 {
  }
}

@media (max-width: 1252px) {
  .restaurant-info-section {
    display: flex;
    flex-direction: column;
  }
  #mealThree {
    display: none;
  }
  #mealOne {
    height: 40vh;
    width: 80vw;
  }
  #mealTwo {
    display: none;
  }
}

@media screen and (max-width: 1024px) {
  .navbar-ul {
    display: none;
    flex-direction: column;
    width: 100%;
  }

  .navbar-ul.show {
    display: flex;
    animation: fadeDown 3s;
  }
  .title-section.show {
    display: flex;
    animation: fadeDown 3s;
  }

  .hamburger {
    display: block;
  }

  .restaurant-chef {
    height: 40vh;
  }
  .chef-image-container {
    height: 50vh;
  }
  .restaurant-menu {
    height: 40vh;
  }
  .menu-image-container {
    height: 50vh;
  }
  .restaurant-history {
    height: 40vh;
  }
  .history-image-container {
    height: 50vh;
  }

  .restaurant-history h3 {
    font-size: 5rem;
  }
  .restaurant-history p {
    font-size: 1.5rem;
  }
  .restaurant-history button {
    font-size: 1rem;
    width: 20rem;
  }
  .restaurant-menu h3 {
    font-size: 5rem;
  }
  .restaurant-menu p {
    font-size: 1.5rem;
  }
  .restaurant-menu button {
    font-size: 1rem;
    width: 20rem;
  }
  .restaurant-chef h3 {
    font-size: 5rem;
  }
  .restaurant-chef p {
    font-size: 1.5rem;
  }
  .restaurant-chef button {
    font-size: 1rem;
    width: 20rem;
  }

  .card-contents h3 {
    font-size: 2rem;
  }
  .card-contents h2 {
    font-size: 3rem;
  }
  .card-contents p {
    font-size: 1.5rem;
  }
  .card-contents button b {
    font-size: 1.2rem;
  }
}

@media (max-width: 904px) {
  #mealOne {
    height: 40vh;
    width: 80vw;
  }
  #mealTwo {
    display: none;
  }
}

@media (max-width: 770px) {
  .restaurant-history h3 {
    font-size: 2.5rem;
  }
  .restaurant-menu h3 {
    font-size: 2.5rem;
  }
  .restaurant-chef h3 {
    font-size: 2.5rem;
  }
  .restaurant-chef p {
    font-size: 1.2rem;
  }
  .navbar-ul {
    display: none;
    flex-direction: column;
    width: 100%;
  }

  .navbar-ul.show {
    display: flex;
    animation: fadeDown 3s;
  }
  .title-section.show {
    display: flex;
    animation: fadeDown 3s;
  }

  .hamburger {
    display: block;
  }

  .restaurant-chef {
    height: 40vh;
  }
  .chef-image-container {
    height: 60vh;
  }
  .restaurant-menu {
    height: 40vh;
  }
  .menu-image-container {
    height: 60vh;
  }
  .restaurant-history {
    height: 40vh;
  }
  .history-image-container {
    height: 60vh;
  }

  .card-contents h3 {
    font-size: 2rem;
  }
  .card-contents h2 {
    font-size: 3rem;
  }
  .card-contents p {
    font-size: 1.5rem;
  }
  .card-contents button b {
    font-size: 1.2rem;
  }

  .footer-grid {
    display: flex;
    flex-direction: column;
  }

  .quicklinks-contents {
    justify-content: center;
    text-align: center;
  }
  .contact {
    justify-content: center;
    text-align: center;
  }
  .about {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
  }
  .footer-grid .about p {
    text-align: center;
    width: 100%;
  }

  .footer-grid ul li {
    text-align: center;
  }

  .footer-grid h3 {
    text-align: center;
  }
  .footer-grid .about h3 {
    text-align: center;
  }

  .footer-grid .quicklinks h3 {
    text-align: center;
  }
}

@media (max-width: 700px) {
  .logo {
    font-size: 4rem;
  }
}

@media (max-width: 600px) {
  /* Hero Section */
  .hero {
    background-attachment: local;
  }
  /* Info Section */
  .restaurant-menu h3 {
    font-size: 2rem;
  }
  .restaurant-menu p {
    font-size: 1rem;
  }
  .restaurant-menu button {
    font-size: 1rem;
    width: 10rem;
  }
  .restaurant-history h3 {
    font-size: 2rem;
  }
  .restaurant-history p {
    font-size: 1rem;
  }
  .restaurant-history button {
    font-size: 1rem;
    width: 10rem;
  }
  .restaurant-chef h3 {
    font-size: 2rem;
  }
  .restaurant-chef p {
    font-size: 1rem;
  }
  .restaurant-chef button {
    font-size: 1rem;
    width: 10rem;
  }

  /* Events Card Section */
  .card {
    height: 50vh;
  }
  .card-contents h3 {
    font-size: 1.5rem;
    margin-bottom: 0.4rem;
  }
  .card-contents h2 {
    font-size: 1.8rem;
  }
  .card-contents p {
    font-size: 1.4rem;
  }
  .card-contents button {
    font-size: 1.5rem;
  }

  /* Footer Section */

  .footer-grid {
    display: flex;
    flex-direction: column;
  }

  .quicklinks-contents {
    justify-content: center;
    text-align: center;
  }
  .contact {
    justify-content: center;
    text-align: center;
  }
  .about {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
  }
}

@media (max-width: 540px) {
  .logo {
    font-size: 3rem;
  }
  .restaurant-info-section {
    display: flex;
    flex-direction: column;
  }
  .hero .title-section h1 {
    font-size: 3rem;
  }

  .cuisine-section {
    display: none;
  }

  .restaurant-history h3 {
    font-size: 1.5rem;
  }

  .restaurant-history-text {
    font-size: 0.7rem;
  }
  .restaurant-chef h3 {
    font-size: 1.5rem;
  }

  .restaurant-info-text {
    font-size: 0.7rem;
  }
  .restaurant-menu h3 {
    font-size: 1.5rem;
  }

  .chef-image-container {
    height: 40vh;
  }
  .menu-image-container {
    height: 40vh;
  }
  .history-image-container {
    height: 40vh;
  }

  @keyframes fadeIn {
    from {
      opacity: 0;
      transform: translateY(0.5rem);
    }

    to {
      opacity: 1;
      transform: translateY(0);
    }
  }

  .readmoreBtnCard {
    padding: 0.2rem;
    font-size: 1.3rem;
  }

  .card h3 {
    font-size: 2rem;
  }
  .card h2 {
    font-size: 2.5rem;
  }
  .card p {
    font-size: 1.3rem;
  }

  .restaurant-chef h3 {
    font-size: 3rem;
  }
  .restaurant-menu h3 {
    font-size: 3rem;
  }
  .restaurant-history h3 {
    font-size: 3rem;
  }
  .restaurant-chef p {
    font-size: 1rem;
  }
  .restaurant-menu p {
    font-size: 1rem;
  }
  .restaurant-history p {
    font-size: 1rem;
  }
  .restaurant-chef button {
    font-size: 1rem;
  }
  .restaurant-menu button {
    font-size: 1rem;
  }
  .restaurant-history button {
    font-size: 1rem;
  }
  .restaurant-menu button {
    width: 10rem;
  }

  .restaurant-history button {
    width: 10rem;
  }

  .quicklinks-contents {
    justify-content: center;
    text-align: center;
  }

  .contact {
    justify-content: center;
    text-align: center;
  }
  .about {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
  }

  hr {
    display: block;
    width: 100px;
  }
}

@media (max-width: 440px) {
  .side-links span {
    font-size: 1.5rem;
  }
}

@media (max-width: 400px) {
  .logo {
    font-size: 2rem;
  }
  .restaurant-chef button {
    width: 10rem;
  }
  .restaurant-info-section {
    display: flex;
    flex-direction: column;
  }
  .hero .title-section h1 {
    font-size: 3rem;
  }

  .cuisine-section {
    display: none;
  }

  .restaurant-history h3 {
    font-size: 2rem;
  }

  .restaurant-history-text {
    font-size: 0.7rem;
  }
  .restaurant-chef h3 {
    font-size: 2rem;
  }

  .restaurant-info-text {
    font-size: 0.7rem;
  }
  .restaurant-menu h3 {
    font-size: 2rem;
  }

  .chef-image-container {
    height: 40vh;
  }
  .menu-image-container {
    height: 40vh;
  }
  .history-image-container {
    height: 40vh;
  }

  @keyframes fadeIn {
    from {
      opacity: 0;
      transform: translateY(0.5rem);
    }

    to {
      opacity: 1;
      transform: translateY(0);
    }
  }

  /* Events Card Section */

  .card h3 {
    font-size: 1.2rem;
  }
  .card h2 {
    font-size: 1.5rem;
  }
  .card p {
    font-size: 1.2rem;
  }
  .card-contents button {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.5rem;
  }
  .card-contents button b {
    font-size: 1rem;
  }
  .restaurant-menu button {
    width: 10rem;
  }

  .restaurant-history button {
    width: 10rem;
  }

  .quicklinks-contents {
    justify-content: center;
    text-align: center;
  }

  .contact {
    justify-content: center;
    text-align: center;
  }
  .about {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
  }

  hr {
    display: block;
    width: 100px;
  }
}

@media (max-width: 360px) {
  .restaurant-chef button {
    width: 10rem;
  }
  .restaurant-info-section {
    display: flex;
    flex-direction: column;
  }
  .hero .title-section h1 {
    font-size: 3rem;
  }

  .cuisine-section {
    display: none;
  }

  /* .restaurant-history h3 {
    font-size: 2rem;
  } */

  .restaurant-history-text {
    font-size: 0.7rem;
  }
  .restaurant-chef h3 {
    font-size: 1.5rem;
  }

  .restaurant-info-text {
    font-size: 0.7rem;
  }
  .restaurant-menu h3 {
    font-size: 1.5rem;
  }

  .restaurant-history .readmoreBtn {
    width: 8rem;
    font-size: 1rem;
  }
  .restaurant-chef .readmoreBtn {
    width: 8rem;
    font-size: 1rem;
  }
  .restaurant-menu .readmoreBtn {
    width: 8rem;
    font-size: 1rem;
  }

  @keyframes fadeIn {
    from {
      opacity: 0;
      transform: translateY(0.5rem);
    }

    to {
      opacity: 1;
      transform: translateY(0);
    }
  }

  .readmoreBtn {
    padding: 0.2rem;
  }

  .card h3 {
    font-size: 1rem;
  }
  .card h2 {
    font-size: 1.5rem;
  }

  .footer-grid {
    display: flex;
    flex-direction: column;
  }

  .footer-grid h3 {
    font-size: 1rem;
  }
  .footer-grid ul {
    padding-inline-start: 0;
  }
  .footer-grid ul li {
    font-size: 0.7rem;
  }
  .footer-grid p {
    font-size: 0.7rem;
  }
  .restaurant-menu button {
    width: 10rem;
  }
  .restaurant-history button {
    width: 10rem;
  }
  .quicklinks-contents {
    justify-content: center;
    text-align: center;
  }

  /* Events Card Section */

  .card h2 {
    font-size: 1.5rem;
  }
  .card button {
    width: 8rem;

    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.5rem;
  }

  .card-contents button b {
    font-size: 0.8rem;
    margin: 0;
  }
  .contact {
    justify-content: center;
    text-align: center;
  }
  .about {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
  }
  hr {
    display: block;
    width: 100px;
  }

  .restaurant-chef .readmoreBtn {
    font-size: 0.8rem;
  }
  .restaurant-menu .readmoreBtn {
    font-size: 0.8rem;
  }
  .restaurant-history .readmoreBtn {
    font-size: 0.8rem;
  }
}

@media (max-width: 320px) {
  .restaurant-chef button {
    width: 10rem;
  }
  .restaurant-info-section {
    display: flex;
    flex-direction: column;
  }
  .history-image-container {
    height: 60vh;
  }
  .restaurant-history {
    height: 40vh;
  }
  .menu-image-container {
    height: 60vh;
  }
  .restaurant-menu {
    height: 40vh;
  }
  .chef-image-container {
    height: 60vh;
  }
  .restaurant-chef {
    height: 40vh;
  }

  .footer-grid {
    display: flex;
    flex-direction: column;
  }

  .footer-grid h3 {
    font-size: 1rem;
  }
  .footer-grid ul {
    padding-inline-start: 0;
    padding-left: 0;
  }
  .footer-grid ul li {
    font-size: 0.7rem;
  }
  .footer-grid p {
    font-size: 0.7rem;
  }
  .restaurant-menu button {
    width: 10rem;
  }

  .restaurant-history button {
    width: 10rem;
  }

  .quicklinks-contents {
    justify-content: center;
    text-align: center;
  }

  .contact {
    justify-content: center;
    text-align: center;
  }
  .about {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
  }

  hr {
    display: block;
    width: 100px;
  }
}

/* //////////////////// */
/* Tablet Screen Sizes */
/* ////////////////// */
